body {
    font-family: 'Quicksand', sans-serif;
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 5%;
    word-wrap: break-word;
}

.logo {
    width: 250px;
    height: 250px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WalletInfo {
    width: 500px;
}

.Block {
    border: 1px solid #fff;
    padding: 5%;
    margin: 2%;
}

.Block p {
    min-height: 60px;
    text-align: left;
}

.Blocks-Wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.Transaction {
    padding: 5%;
}

.Transaction-Wrapper hr {
    background: #fff;
}

a, a:hover {
    color: #e66;
    text-decoration: underline;
}

.ConductTransaction {
    margin: 10%;
}

.ConductTransaction > input {
    margin-bottom: 20px;
}

